$def with (text)
$var jsfiles: 
$var cssfiles:  
<div class="input-group">
  <span class="input-group-btn">
      <button type="button"  class="btn btn-default" disabled>PATH</button>
  </span>                                      
  <input name="path" type="text" class="form-control" placeholder="insert path" id="path" value="m/0'/0'/276'">      
  <span class="input-group-btn">
      <button id="btn_search_producto" onclick="sendPath()" class="btn btn-primary" type="button">SEND                                       
    </button>
  </span>      
</div>
        <br><br>
        <span id="foo">$text</span>        
        
<script type="text/javascript">  
  jQuery(document).ready(function() {
      highlight("#getxpub");
  });            
function sendPath() {
    var input_string = document.getElementById("path").value;
    
    jQuery.ajax({
            type: "POST",
            data: {path : input_string},
            success: function(data) {
            jQuery('#foo').html(data).hide().fadeIn(1500);
            },
            });
    return false;
    }
</script>