$def with (challengeVisual, challengeHidden)
$var jsfiles: 
$var cssfiles:  
<div class="form-group text-center" id="form-sign">
	<input type="hidden" value="$challengeHidden" name="challengeHidden"/> 
	<b>$challengeVisual</b><br>
	<label>_____________________________________________</label>
	<h2 id="foo">Sign in using this identity?</h2> 
	<br>
	<button class="btn btn-lg btn-success" onclick="cancelSign()">x Cancel</button>
	<button class="btn btn-lg btn-success" onclick="loginSign()">Confirm</button>
</div>


<script type="text/javascript">
  jQuery(document).ready(function() {
      highlight("#login");
  });  

  function cancelSign() {
	jQuery("#form-sign").addClass('hidden');
  }

  function loginSign() {
      jQuery.ajax({
              type: "POST",
              data: {challengeVisual : "$challengeVisual", challengeHidden : "$challengeHidden"},
              success: function(data) {
                var result = jQuery.parseJSON( data );

                if(result.error)
                {
                 	alert(result.error);
                }
                else
                {   
                	alert('check-in the browser console');
                	console.log('Address:', result.address);
					console.log('Public key:', result.publicKey); // pubkey in hex
					console.log('Signature:', result.signature); // signature in hex
					console.log('Only for test, visit the link: http://localhost:8080/verifyAuth');
					console.log('challengeVisual:', "$challengeVisual");
					console.log('challengeHidden:', "$challengeHidden");

                }                
              },
              });
      return false;  	
  }
</script>